<h1><%=user_signed_in? && current_user == @user ? "My" : @user.username + "'s"%> profile</h1>
<%= @user.avatar.attached? ? image_tag(@user.avatar_thumbnail) : image_tag("default_profile.jpg") %>
<br>
<% if user_signed_in? && (current_user == @user)%> 
  <%= link_to "Edit My Profile", edit_user_registration_path %>
<% end %>
<hr>
<div>
  <h2>Challenges Created</h2>
  <% if user_signed_in? && (current_user.id == @user.id) %>
    <%= link_to "Create New Challenge", new_challenge_url, class: "button"%>
  <%end%>

  <%= render "shared/challenges_table" %>

  <% if !@challenges[0] %>
    <p>no challenges</p>
  <%end%>

  <h2>Challenges Completed</h2>

  <%= render "shared/submissions_table" %>

  <% if !@submissions[0] %>
    <p>no submissions</p>
  <%end%>
</div>
