<p id="notice"><%= notice %></p>

<h1>
  <%= @challenge.title %>
</h1>
<strong>Difficulty:</strong>
<%= @challenge.difficulty %>
<br>
  <strong>Author:</strong>
  <%= link_to @challenge.user.username, "/users/#{@challenge.user.username}" %>
  <br>
<strong>Description:</strong>
<p><%= @challenge.description %></p>


<p>
  <strong>Votes:</strong>
  <%= @challenge.votes %>
</p>

<% unless @challenge_completed %>
  <h2>Submit Solution</h2>
  <%= form_for :challenge, url: "/challenges/#{@challenge.id}/solution", method: :put do |form| %>
  
    <div class="field">
      <%= form.label :solution %>
      <%= form.text_field :solution %>
    </div>
  
    <div class="actions">
      <%= form.submit "Attempt Challenge"%>
    </div>
  
    <%= form.hidden_field :challenge, value: @challenge %>
  <% end %>
<%else%>
  <h2>You have completed this challenge!</h2>
<%end%>

<% if user_signed_in? and (@challenge.user == current_user) %>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %>
<%end%>
<%= link_to 'Back', challenges_path %>

